.Container *
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 13px;
    outline: none;
}
.Container DFN, I, CITE, VAR, ADDRESS, EM
{
    font-style: normal;
}
.Container TH, B, STRONG, H1, H2, H3, H4, H5, H6
{
    font-weight: normal;
}
.Container A, IMG, A IMG, IFRAME, FORM, FIELDSET, ABBR, ACRONYM, OBJECT, TABLE
{
    border: none;
}
.Container TABLE
{
    border-collapse: collapse;
    border-spacing: 0;
}
.Container CAPTION, TH, TD
{
    text-align: left;
    vertical-align: top;
}
.Container Q
{
    quotes: "" "";
}
.Container UL, OL, MENU
{
    list-style: none;
}
.Container SUB, SUP
{
    vertical-align: baseline;
}
.Container A
{
    color: inherit;
}
.Container HR
{
    display: none;
}
.Container
{
    color: inherit !important;
    width: 600px;
    background: #fff;
    padding: 5px;
    border: 1px solid #DDD;
}
.Container TABLE, .content
{
    width: 100%;
    border-top: 1px solid #EEE;
    font: 17px Calibri;
}
.Container, .content .header
{
    color: #CCC;
}
.Container .header TH
{
    padding: 5px;
    border-right: 1px solid #666;
}
.Container TABLE TR TD
{
    padding: 5px;
    border-bottom: 1px solid #DDD;
    border-left: 1px solid #DDD;
    width: 25%;
}
.Container SELECT
{
    width: 200px;
    padding: 3px;
}
.Container INPUT[type="text"], input[type="submit"]
{
    width: 60px;
}
.Container .center
{
    text-align: center;
    padding-top: 10px;
}
.Container H3
{
    font: bold 15px sans-serif;
    color: #666;
}
.Container .checkbox
{
    padding: 5px;
}
.Container .errorInfo
{
    color: #DC143C;
}
.Container INPUT[type="text"]
{
    width: 450px;
    border: 1px solid #AAA;
    padding: 5px;
    color: #444;
}
.signature
{
    padding-top: 10px;
    width: 200px;
    height: 50px;
    border: 1px solid #777;
    float: left;
}
.right
{
    float: left;
    padding-left: 10px;
    width: 375px;
    text-align: justify;
}
.clear
{
    clear: both;
    float: none;
    width: 0px;
}
.noBorder TR TD
{
    border: none;
}
.content LI
{
    padding: 5px;
}
.small
{
    width: 70px;
}
.smallest
{
    width: 40px;
}
.autoWidth
{
    width: auto;
}
.large
{
    width: 250px;
}
.noBorder
{
    border: none;
}
.sigBox
{
    padding-top: 10px;
    width: 200px;
    height: 50px;
    border: 1px solid #777;
    float: left;
}
.Container .center INPUT[type="button"], INPUT[type="submit"]
{
    width: 100px;
    border: 1px solid #80A8BB;
    padding: 4px;
    background: #E9F6F2;
    cursor: pointer;
    margin-left: 5px;
}
.Container .center INPUT:hover
{
    background: #F5FBF9;
}
.print
{
    color: #444;
    background-color: #FFFFFF;
}
.Container, .print
{
    color: #222;
    page-break-after: always;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 680px;
}
.print .noBorder TR TD
{
    border: none;
}
.bigfont TR TD
{
    font: bold 14px sans-serif;
}
.print .right
{
    width: 450px;
}
.print .sigBox
{
    float: left;
    border: none;
    border-bottom: 2px solid #888;
}
.print .noBorder .edgeColumn
{
    font-size: 8pt;
}
.print .noBorder .middleColumn
{
}
.print .pageBreak
{
    page-break-before: always;
}
.print .leftBox
{
    float: left;
}
.content .noBorder TR TD
{
    border: none;
}
.content LI .boxLeft
{
    margin-left: -20px;
}
#DivOtherProcedure
{
    display: none;
}
.small-header
{
    font-size: 11px;
    font-weight: bold;
}
.small-content
{
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
}
.timeBox
{
    float: left;
    padding-top: 45px;
    border-bottom: 2px solid #777;
    width: 200px;
}
.PatientReason
{
}
.PatientSign
{
}
.HdnImage1, .HdnImage2, .HdnImage3, .HdnImage4, .HdnImage5, .HdnImage11, .HdnImage12, .HdnImage13, .HdnImage14, .HdnImage15
{
}
.pad
{
}
.sig1, .sig2, .sig3, .sig4, .sig5, .sig11, .sig12, .sig13, .sig14, .sig15
{
}
.Hide
{
    display: none;
}
.leftPush
{
    margin-left: 200px;
}
.content-heading
{
    font-weight: bold;
    font-size: 13px;
}