<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ConsentFormSvc" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://devsp1.atbapps.com:6139/ConsentFormSvc.svc/basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ConsentFormSvc"
                contract="EConsentServices.ConsentFormSvc" name="BasicHttpBinding_ConsentFormSvc" />
        </client>
    </system.serviceModel>
</configuration>