<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ConsentFormSvc"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://tillid-pc12.tillid.com/ConsentFormSvc.svc/basic" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ConsentFormSvc" contract="ConsentFormSvc.ConsentFormSvc" name="BasicHttpBinding_ConsentFormSvc"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
